[Unit]
Description=Placemark node.js app server

[Service]
Environment=NODE_PORT=3001
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/placemark/src
ExecStart=/usr/bin/npm run dev
Restart=always

[Install]
WantedBy=multi-user.target